/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #ff5e29;
    --ifm-background-color: #fff9ef;
    --ifm-navbar-background-color: var(--ifm-background-color);
    --ifm-card-background-color: var(--ifm-background-color);
    --ifm-font-family-base: "IBM Plex Mono", monospace;
    --ifm-font-family-monospace: "IBM Plex Mono", monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
    --ifm-color-primary: #ff5e29;
    --ifm-background-color: #252422;

    --ifm-navbar-background-color: #252525;
}

.footer:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("/img/outlines_orange.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    pointer-events: none;
}

.footer {
    position: relative;
}

.footer-logo {
    margin-top: 2em;
    width: 12em;
    height: auto;
}

.navbar__logo {
    margin-right: 2em;
}